@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$bg-color: #c5fcdb;
$font-color: #FFFFFF;
$border-color: 1px #000000 double;
$font-outline: #000000;
$cell-dimensions: 98vw;
$text-shadow: -1px -1px 0 $font-outline, 1px -1px 0  $font-outline, -1px 1px 0  $font-outline, 1px 1px 0  $font-outline;
$alt-border: 3px #2dba86 ridge;
$alt-bg-color: #e1f7ef;

body  {
  border: 1px black solid;
}

h1  {
  margin: 0 auto;
  padding: 0 auto;
  color: $font-color;
  text-align: center;
  text-shadow: $text-shadow;
}

div {
  width: 100vw;
}

.container {
  display: flex;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.inventorySummary {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
}

.inventoryFunctions {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
}

.singleItem {
  display: flex;
  background: $bg-color;
  border: $border-color;
  color: black;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

#title {
  border-bottom: $border-color;
}

#communication {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#FormFields {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: $cell-dimensions;
}
