@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$bg-color: #B0F9F6;
$font-color: #581845;
$border-color: 1px #000000 double;
$font-outline: #DDDDE3;
$cell-dimensions: 98vw;
$text-shadow: -1px -1px 0 $font-outline, 1px -1px 0  $font-outline, -1px 1px 0  $font-outline, 1px 1px 0  $font-outline;
$alt-border: 1px #7175F4 solid;
$alt-bg-color: #060A6E;

h1  {
  margin: 0 auto;
  padding: 0 auto;
  color: $font-color;
  text-align: center;
  text-shadow: $text-shadow;
}

div {
  width: 100%;
}

.container {
  display: flex;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.inventorySummary {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
}

.inventoryFunctions {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
}

.singleItem {
  display: flex;
  background: $bg-color;
  border: $border-color;
  color: black;
  margin: 3px auto 0 auto;
  padding: 0 auto;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

p {
  border: $alt-border;
  padding: 3px;
  background: $font-outline;
  opacity: 80%;
  margin: 0 auto;
}

#title {
  border-bottom: $border-color;
}

#communication {
  display: flex;
  flex-flow: column;
  justify-content: left;
  align-items: left;
}

#FormFields {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: $cell-dimensions;
}

#secondLog {
  border: none;
  background: none;
  margin: 0 0 0 10px;
}

#new-item, #masterLog {
  margin: 0 0 0 10px;
}
